@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Masque';
    src: url('fontes/MASQUE__.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --font1: Verdana, 'Geneva', Tahoma, sans-serif;
    --font2: 'Passion One', 'Cursive';
    --font3: 'Masque';
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--font1);
    min-width: 300px;
    max-width: 100vw;
    margin: auto;
    margin-bottom: 30px;
    background-color: darkgray;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.418);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

header {
    background-image: linear-gradient(to top, black, rgb(36, 36, 36));
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 5px;
    font-family: var(--font3);
    font-variant: small-caps;
    font-size: 100px;
    text-align: center;
}

header > p {
    text-align: center;
    padding-bottom: 10px;
    font-size: 90%;
}

nav {
    background-color: black;
    padding: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.400);
    position: sticky;
    top: 0px;
}

nav > a {
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    transition-duration: 0.8;
    font-size: 12px;
    font-weight: bold;
}

nav > a:hover {
    color: rgb(3, 3, 3);
    background-color: rgb(211, 207, 207);
    padding: 4px;
}

main {
    margin: auto;
    margin-bottom: 30px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 26px; /*Espaçamento entre linhas*/
    padding-left: 0px; /*Centralização do texto*/
    font-size: 2vw;
}

section > h1 {
    font-family: var(--font3);
    text-align: center;
    font-size: 200%;
}

section > h2 {
    font-family: var(--font3);
    text-align: center;
}

section > p {
    font-size: 16px;
    text-align: center;
    padding-bottom: 2em;
    margin: 20px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    color: white;
    background-color: rgb(50, 50, 50);
    box-shadow: inset 5px 5px 12px 0px rgba(0, 0, 0, 0.500);
    background-attachment: fixed;
}

section#img01 {
    background-image: url('imagens/wash.jpg');
    background-size: cover;
    max-width: 100vw;
}

section#img02 {
    color: white;
    background-image: url('imagens/polimento.jpg');
    background-size: cover;
    max-width: 100vw;
    background-attachment: fixed;
}

section#img03 {
    color: white;
    background-image: url('imagens/farol.jpg');
    background-size: cover;
    max-width: 100vw;
    background-attachment: fixed;
}

div.video {
    background-color: darkgray;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px;
}
