@charset "UTF-8";

@font-face {
    font-family: 'Masque';
    src: url('../fontes/MASQUE__.ttf') format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

:root {
    --preto-eerie: #171717;
    --cinza-eerie: #262626;
}

html, body {
    height: 100%;
}

body {  
    font-family: Arial, Helvetica, sans-serif;
}

/*START HEADER*/
header {
    background-image: linear-gradient(to top, var(--preto-eerie), var(--cinza-eerie));
    color: white;
    text-align: center;
}

header > h1 {
    font-family: 'masque';
    padding-top: 5px;
    font-size: 500%;
}

header > p {
    font-family: 'masque';
    text-align: center;
    padding-bottom: 14px;
    font-size: 12px;
}

nav#menu {
    display: flex;
    justify-content: center;

    padding: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.400);
    position: sticky;
    top: 0px;
}

nav > a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;

    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    transition-duration: 0.8;
    font-size: 12px;
    
}

nav > a:hover {
    color: rgb(150, 150, 150);
}
/*FINISH HEADER*/


/*START MAIN*/

main {
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
    gap: 20px;

    margin-top: 20px;
}

section#texto {
    background-color: rgba(240, 240, 240, 0.582);
    /*border: 1px blue dashed;*/
    grid-column: 2;

    border-radius: 10px;
    padding: 20px;
}

section#texto h2 {
    color: var(--preto-eerie);

    padding-bottom: 10px;
}

/*Start article*/

article {
    display: grid;
    grid-column: 2;

    background-color: rgba(240, 240, 240, 0.582);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/*Start cultura*/

#cultura h2 {
    margin-bottom: 10px;
    font-family: masque;
}

#cultura-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

#cultura-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cultura-container .nome {
    font-weight: bold;
    font-weight: var(--cinza-eerie);
}

#cultura-container .porcent {
    font-weight: bold;
    font-weight: var(--cinza-eerie);
}

#cultura-container .barra {
    background-color: rgba(161, 161, 161, 0.582);

    width: 100%;
    height: 10px;

    border-radius: 4px;
}

#cultura-container .progresso {
    height: 100%;
    background-color: var(--cinza-eerie);
    border-radius: 4px;
}

/*Finish cultura*/

/*Start cultura*/

#produtos a {
    text-decoration: none;
}

#produtos h2 {
    font-family: 'masque';
    margin-bottom: 15px;
}

#produtos-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#produtos-container .produto {
    background-color: var(--cinza-eerie);
    border-radius: 10px;
    border-left: 5px solid rgb(182, 182, 182);
    padding-left: 10px;
    padding: 10px;
}

#produtos-container .produto:hover {
    border-left-width: 15px;
    border-left-color: white;
    cursor: pointer;

    transition: border-width 0.5s, border-color 0.5s;
}

#produtos-container .marca {
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

#produtos-container .nome {
    color: white;
    font-size: 1.5em;
}

#produtos-container .uso {
    color: white;
    font-size: 0.8em;
}