@charset "UTF-8";

@font-face {
    font-family: 'Masque';
    src: url(../fontes/MASQUE__.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    padding: 8px;

    border: 1px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    position: sticky;
    top: 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.400);
}

header > h1 {
    font-family: 'Masque';
    color: white;
    padding: 2px;
    font-size: 28px;

    flex: 0 0 200px;

    border: 1px;
}

header > nav {
    display: flex;
}

header > nav > a {
    margin-left: 6px;
    color: white;
    padding: 10px;
    border-radius: 4px;

    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
 

    display: flex;

    border: 1px;
}

header > nav > a:hover {
    color: black;
    background-color: white;

    transition: background-color .8s;
}

main {
    display: flex;
    padding: 20px;
   /** border: 1px dashed blue; **/
}

section.flex-content { /*Container pai*/
    display: flex;
    flex-flow: row nowrap;
    flex-wrap: wrap;

    padding: 20px;
}

section > article {
    display: flex;
    flex-flow: column nowrap;
    flex-direction: wrap;
    border: 1px dashed red; 
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article > div.text { 
    flex: 1 1 500px; /*Onde definimos a quebra*/

    //*border: 1px dashed yellow;**/
}

article > div.text > h2 {
    font-family: 'Masque';
}

article > div.media {
    flex: 1 1 500px;

    /**border: 1px dashed purple;**/
}


div.media > img {
    display: block;
    margin: auto;
}